@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --charcoal-grey: #383743;
    --charcoal-grey-two: #403e4d;
    --white-two: #ffffff
}

/*LOGON*/

*{
    padding: 0;
    margin: 0;
    height: 100%;
}


._2_LoginSenhaExibida {
    height: auto;
    background-color: #eeecdb;
    display: flex;
    justify-content: center;
}

.logo_home {
    width: 18.438rem;
    height: 4.5rem;
    margin: 6.688rem 1.625rem 4.063rem 4.625rem;
    object-fit: contain;
}

.BEM-VINDO-AO-EMPRESA {
    width: 10.75rem;
    height: 3.75rem;
    margin: 0rem 5.75rem 1.563rem 8.188rem;
    font-family: Roboto;
    font-size: 1.6rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -1.2px;
    text-align: center;
    color: var(--charcoal-grey);
}

.Lorem-ipsum-dolor-si {
    width: 21.938rem;
    height: 3.125rem;
    margin: 1.563rem 0.25rem 2.875rem 2.5rem;
    font-family: Roboto;
    font-size: 1.063rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.48;
    letter-spacing: 0.2px;
    text-align: center;
    color: var(--charcoal-grey);
}

.input-logon{
    width: 15.75rem;
    height: 1.600rem;
    margin: 1.563rem 0.25rem 0rem 2.00em;
    display: block;
    border: 0 none;
    background-color: transparent;
    outline: 0;
    font-size: 1.369rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.31px;
    color: var(--charcoal-grey-two)

}

.input-logon:nth-child(n+1){
    margin-top: 2.313rem;
}

.Line {
    width: 21.75rem;
    height: 0.125rem;
    margin: 0rem 0.25rem 0rem 2.5rem;
    background-color: var(--charcoal-grey);
}

.button-logon{
    width: 21.75rem;
    height: 3.563rem;
    padding: 1.125rem 8.375rem 1rem 8.438rem;
    margin: 2.688rem 0.25rem 17.188rem 2.5rem;
    border-radius: 3.9px;
    border: 0 none;
    background-color: #57bbbc;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 1.208rem;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: var(--white-two)

}

.input-row{
    display: flex;
}

.icon-logon{
    width: 1.625rem;
    height: 1.625rem;
    margin: 2.063rem -2.625rem 0.125rem 2.063rem;
    padding: 0.438rem 0.375rem 0.5rem 0.313rem;
    object-fit: contain;
} 

.icon-eye{
    color: rgba(0, 0, 0, 0.54);
    cursor: pointer;
}

.display-none{
    display: none;
}


/*HOME*/

.nav-menu {
    width: 100%;
    height: 50px;
    padding: 49px 0px 42px 0px;
    background: linear-gradient(173deg, rgba(238,76,119,1) 24%, rgba(136,47,71,1) 100%);
    display: flex;
    justify-content: space-between;
}

.body-home{
    background-color: #ebe9d7;
}

nav > div {
    margin-right: 40px;
}

.search{
    margin-right: 40px;
    margin-left: -40px;
    cursor: pointer;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-size: 32px;
    color: #383743
}

/*NAV-MENU-SEARCH*/

.nav-menu-search {
    width: 100%;
    height: 50px;
    padding: 49px 0px 42px 0px;
    background: linear-gradient(173deg, rgba(238,76,119,1) 24%, rgba(136,47,71,1) 100%);
    
}

.input-search{
    width: 85%;
    border: none;
    background-color: transparent;
    outline: 0;
    font-family: Roboto;
    font-size: 34px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #991237;
}

.input-search::-webkit-input-placeholder {
    color: #991237;
 }
 
.input-search::-moz-placeholder { /* Firefox 18- */
    color: #991237;  
 }
 
.input-search::-moz-placeholder {  /* Firefox 19+ */
    color: #991237;  
 }
 
.input-search::-ms-input-placeholder {  
    color: #991237;  
}

.input-search::-webkit-search-decoration,
.input-search::-webkit-search-cancel-button,
.input-search::-webkit-search-results-button,
.input-search::-webkit-search-results-decoration {
  display: none;
}

.clear-search-icon{
    color: #ffffff;
    width: 60px;
    height: 30px;
    margin: 13px 0px 1px 0px;
    padding: 0px 10px 0px 0px;
    cursor: pointer;
}

.Line-search{
    width: 90%;
    height: 0.1px;
    border: 0.1px solid #ffffff;
    background-color: #ffffff;
    margin-left: 42.4px;
    margin-top: 8px;
}

.input-row > img {
    margin-left: 42.4px;
}